.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.side{
    height: 95px;
    width: 95px;
    line-height: 90px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
}

.top{
    background-color: #A7568F;
    transform: rotate(-45deg) skew(15deg,15deg);
}

.left{
     background-color: #B4A5BA;
     transform: rotate(15deg) skew(15deg,15deg) translate(-50%,100%);
}

.right{
    background-color: #094A93;
    transform: rotate(-15deg) skew(-15deg,-15deg) translate(50%,100%);
}

.title{
    position: absolute;
    top: 58%;
    left: 49%;
    font-size: 26px;
}